* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 8px;
    color: rgb(21, 146, 230);
}

.title-header {
    text-align: center;
    padding: 16px 0;
}

.input-field {
    border-bottom: 4px solid rgba(21, 146, 230, 18%);
    padding-bottom: 16px;
    display: flex;
}

#input-task {
    font-size: 1rem;
    padding: 20px 16px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 18%);
    border-radius: 5px;
}

.input-field .material-icons {
    margin: 0 12px;
    font-size: 3.5rem;
    align-self: center;
    color: rgba(0, 0, 0, 18%);
}

.input-field .material-icons:hover {
    cursor: pointer;
    color: rgb(21, 146, 230);
}

.task-content {
    margin-top: 32px;
}

.task-item {
    display: flex;
    justify-content: space-between;
}

.task-status {
    display: flex;
    align-items: center;
}

.checkbox {
    color: rgba(0, 0, 0, 38%);
    cursor: pointer;
}

.task-text, .task-delete {
    padding: 0 8px;
}

.task-done {
    opacity: 0.5;
    text-decoration: line-through;
}

.task-edit, .task-delete {
    opacity: 0.5;
}

.task-edit:hover, .task-delete:hover {
    cursor: pointer;
    opacity: 1;
}