$background: url("../img/m-h-day.jpg");
$fonts: ("header": 'Source Sans Pro', "main": 'Hind', "family": sans-serif);
$colors: ("header": #2b2f3c, "underline": #00a1c8, "button": #6a9600, "body": #fff);
$card: ("background": #20232e, "text": #b4c3ce);