$background: url("../img/m-h-night.jpg");
$fonts: ("header": 'Source Sans Pro', "main": 'Fresca', "family": sans-serif);
$colors: ("header": #fff, "underline": #ff522c, "button": #eaaa00, "body": #20232e);
$card: ("background": #394050, "text": #d1d1d1);